@import url("https://fonts.googleapis.com/css?family=Poppins|Bitter|Raleway|PT+Sans+Narrow|Zhi+Mang+Xing&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  height: 100vh;
  overflow: hidden; }

ul {
  list-style-type: none; }

a:link {
  text-decoration: none; }

.primary-title, .welcome__secondary-title, .welcome__preferences-paragraph {
  font-family: 'Bitter', serif; }

.primary-title {
  font-size: 7rem;
  word-spacing: 1.5rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px 1px rgba(122, 55, 185, 0.8); }

.welcome__secondary-title {
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 7rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4); }

.welcome__preferences-paragraph {
  font-size: 2rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6); }

.plain-visible {
  visibility: visible;
  opacity: 1; }

.menu__actual {
  width: 50%;
  height: 100%;
  padding: 7rem 5.5rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-end; }

.menu__toggle--input {
  display: none; }

.menu__toggle--label {
  position: absolute;
  z-index: 100;
  width: 13rem;
  height: 8rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.7), 0 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom-right-radius: 100%;
  background: white;
  display: block;
  transition: all .15s linear;
  cursor: pointer; }

.menu__toggle--input:checked ~ .inner-container {
  transform: rotateZ(-30deg);
  filter: brightness(30%);
  box-shadow: inset 0 0 46rem 13rem rgba(0, 0, 0, 0.603), 0 0 2rem 1.5rem rgba(0, 0, 0, 0.4); }

.menu__toggle--input:checked + .menu__toggle--label {
  background-image: radial-gradient(180% 150% at 0 0, #00ff6a 10%, #1cce66 35%, #37cf76 70%);
  box-shadow: inset -1.2rem -1.2rem 1.5rem -1.3rem rgba(206, 206, 206, 0.7), inset -1.2rem -1.2rem 0.8rem -0.4rem rgba(51, 51, 51, 0.3), 0 0 6rem 1.5rem white, 0 0 3rem 0.6rem #00e660, 0 0 0 1px rgba(0, 0, 0, 0.9); }

.menu__toggle--input:checked + .menu__toggle--label > .menu__stripe--top {
  transform: rotate(45deg);
  top: 36%; }

.menu__toggle--input:checked + .menu__toggle--label > .menu__stripe--middle {
  opacity: 0; }

.menu__toggle--input:checked + .menu__toggle--label > .menu__stripe--bottom {
  transform: rotate(-45deg);
  top: 36%; }

.menu__stripe {
  transition: all .15s linear; }
  .menu__stripe--top {
    position: absolute;
    display: block;
    height: .3rem;
    width: 35%;
    left: 23%;
    border-radius: 10px;
    background: #5e5e5e;
    transition: all .15s ease-in;
    top: 23%; }
  .menu__stripe--middle {
    position: absolute;
    display: block;
    height: .3rem;
    width: 35%;
    left: 23%;
    border-radius: 10px;
    background: #5e5e5e;
    transition: all .15s ease-in;
    top: 36%; }
  .menu__stripe--bottom {
    position: absolute;
    display: block;
    height: .3rem;
    width: 35%;
    left: 23%;
    border-radius: 10px;
    background: #5e5e5e;
    transition: all .15s ease-in;
    top: 49%; }

.menu__item:not(:last-child) {
  margin-bottom: 4rem; }

.menu__link {
  font-family: 'Raleway', sans-serif;
  color: #b89988;
  font-size: 2.5rem;
  transition: all .15s ease-in; }
  .menu__link:hover {
    color: #3cff94; }

.loading-modal {
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
  transition: all .1s linear; }
  .loading-modal.disabled {
    display: none; }

.outer-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #414141; }

.inner-container {
  width: 100%;
  height: 200vh;
  position: absolute;
  background-image: linear-gradient(to bottom right, #5dec9e, rgba(97, 121, 255, 0.473));
  padding: 4.5rem 10rem 10rem 20rem;
  top: 0;
  transform-origin: top left;
  transition: all .25s linear; }
  .inner-container__resume-session {
    position: absolute;
    top: 6rem;
    right: 6rem;
    visibility: hidden;
    opacity: 0;
    transition: all .15s linear;
    cursor: pointer; }
    .inner-container__resume-session.plain-visible {
      visibility: visible;
      opacity: 1; }
  .inner-container__resume-session-icon {
    width: 6rem;
    height: 6rem; }

.content {
  height: 80vh; }

.content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex; }

.section {
  position: absolute;
  width: 100%;
  height: 100%; }
  .section.section-displayed {
    opacity: 1;
    visibility: visible;
    transition: opacity .15s .15s linear, visibility .15s .15s linear; }
  .section.section-undisplayed {
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s linear, visibility .15s linear; }

.welcome {
  transition: all .15s linear; }
  .welcome.welcome--fadeout {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1); }
  .welcome__form-container {
    width: 90%;
    display: flex;
    justify-content: flex-end; }
  .welcome__button-container {
    flex: 0 0 15%;
    align-self: center; }

.gameplay {
  padding: 3rem;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif; }
  .gameplay__question {
    font-size: 3rem;
    flex: 0 0 25%; }
  .gameplay__answers {
    flex: 1;
    display: flex;
    flex-direction: column; }
  .gameplay__radio-group {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem; }
  .gameplay__answer-radio {
    display: none; }
  .gameplay__answer-radio:checked + .gameplay__answer-label > .gameplay__answer-pseudo-radio::after {
    opacity: 1; }
  .gameplay__answer-label {
    position: relative;
    cursor: pointer;
    font-size: 1.8rem; }
  .gameplay__answer-pseudo-radio {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    border: 2px solid white; }
    .gameplay__answer-pseudo-radio::after {
      content: '';
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      background: white;
      border-radius: 1.5rem;
      transition: all .15s linear;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .gameplay__control {
    width: 100%;
    flex: 0 0 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box; }
  .gameplay__prev-question, .gameplay__next-question {
    flex: 0 0 15%;
    height: 100%;
    border: none;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    transition: all .15s linear;
    background-color: #3c78e7; }
    .gameplay__prev-question.gameplay__prev-next-question--disabled, .gameplay__next-question.gameplay__prev-next-question--disabled {
      visibility: hidden;
      opacity: 0; }
    .gameplay__prev-question:hover, .gameplay__next-question:hover {
      background-color: #134bb3; }
  .gameplay__prev-question {
    -webkit-mask: url(../img/pilot-svg/arrow-bold-left.svg) 50% 50% no-repeat;
    mask: url(../img/pilot-svg/arrow-bold-left.svg) 50% 50% no-repeat; }
  .gameplay__go-to-question-container > *:not(:last-child) {
    margin-right: 2rem; }
  .gameplay__go-to-question-label {
    font-size: 2rem; }
  .gameplay__go-to-question-input {
    border: none;
    outline: none;
    height: 3rem;
    width: 3rem;
    padding-left: 1rem;
    border-radius: 3px; }
  .gameplay__go-to-question-button {
    border: none;
    height: 4rem;
    width: 4.5rem;
    text-align: left;
    padding-left: 1rem;
    cursor: pointer;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transition: clip-path .2s .1s linear; }
  .gameplay__next-question {
    -webkit-mask: url(../img/pilot-svg/arrow-bold-right.svg) 50% 50% no-repeat;
    mask: url(../img/pilot-svg/arrow-bold-right.svg) 50% 50% no-repeat;
    margin-right: auto; }
  .gameplay__im-done {
    position: relative;
    padding: 1rem 2rem;
    border: none;
    border-radius: 40px;
    outline: none;
    width: 6rem;
    transition: all .15s linear;
    cursor: pointer; }
    .gameplay__im-done:hover {
      width: 10rem; }
    .gameplay__im-done:hover::after {
      content: ', FO SHIZLE';
      opacity: 1;
      visibility: visible;
      transition: .1s 1.35s all linear; }
    .gameplay__im-done::after {
      content: '';
      opacity: 0;
      visibility: hidden; }
    .gameplay__im-done::before {
      content: 'Answer all questions first';
      position: absolute;
      width: 10rem;
      border-radius: 4px;
      font-size: 1.5rem;
      color: white;
      padding: .5rem;
      background: rgba(0, 0, 0, 0.514);
      top: -110%;
      left: 50%;
      transition: all .15s linear;
      transform: translate(-50%);
      visibility: hidden;
      opacity: 0; }
    .gameplay__im-done.gameplay_im-done--showing-error::before {
      visibility: visible;
      opacity: 1; }

@keyframes spinning {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes hover-in-air {
  from {
    transform: translateY(-1.1rem) rotateX(15deg) rotateY(-30deg); }
  to {
    transform: translateY(1.1rem) rotateX(15deg) rotateY(-30deg); } }

.setup-form {
  width: 42%;
  margin-top: -10rem;
  height: 500px;
  align-items: center;
  font-family: 'Bitter', sans-serif;
  transition: all .15s linear;
  perspective: 1000px; }
  .setup-form:hover > .setup-form__group {
    animation: 0; }
  .setup-form__group {
    position: absolute;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    transition: all .15s ease-in;
    padding: 0 1.3rem;
    padding-right: 3rem;
    mix-blend-mode: multiply;
    transform: translateY(-1.2rem) rotateX(15deg) rotateY(-30deg);
    animation: hover-in-air 1.8s infinite alternate ease-in-out;
    animation-play-state: running;
    animation-fill-mode: none;
    border-bottom: 4px solid rgba(114, 114, 114, 0.8);
    border-right: 2px solid rgba(114, 114, 114, 0.8);
    border-radius: .8rem;
    background-color: rgba(192, 151, 97, 0.8); }
    .setup-form__group:nth-child(1) {
      z-index: 400;
      top: 17%; }
    .setup-form__group:nth-child(2) {
      z-index: 300;
      top: 34%; }
    .setup-form__group:nth-child(3) {
      z-index: 200;
      top: 51%; }
    .setup-form__group:nth-child(4) {
      z-index: 100;
      top: 68%; }
    .setup-form__group:hover {
      background-color: #c09761;
      z-index: 500;
      border-bottom: 4px solid #727272;
      border-right: 2px solid #727272;
      transform: scale(1.1) rotateX(10deg) rotateY(-15deg);
      mix-blend-mode: normal; }
  .setup-form__field {
    height: 4.5rem;
    font-size: 2rem;
    transition: all .1s linear;
    padding-left: 1.5rem;
    outline: 0;
    border-radius: .8rem;
    border: none;
    width: 20rem;
    -webkit-appearance: textfield; }
    .setup-form__field::-webkit-outer-spin-button, .setup-form__field::-webkit-inner-spin-button {
      -webkit-appearance: none; }
  .setup-form__select > .custom-select__selected, .setup-form__field {
    color: rgba(0, 33, 13, 0.75); }
  .setup-form__label {
    flex: 1;
    text-align: right;
    justify-self: flex-end;
    font-size: 1.7rem;
    color: white;
    margin-right: 1.5rem; }
  .setup-form__submit {
    width: 100%;
    height: 4rem;
    border-radius: 4rem;
    align-self: center;
    border: 0;
    margin-left: -3rem;
    cursor: pointer; }

.loading-modal__spinner:nth-child(1) {
  transform: rotateZ(120deg); }

.loading-modal__spinner:nth-child(2) {
  transform: rotateZ(240deg); }

.loading-modal__spinner:nth-child(3) {
  transform: rotateZ(360deg); }

.loading-modal__spinner--small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  margin-top: -7rem;
  margin-left: -7rem;
  width: 14rem;
  height: 14rem;
  background-image: radial-gradient(black 60%, transparent 60%), conic-gradient(from 0deg, transparent, transparent 25%, #e1b4ff 25%, #005521 50%, transparent 50%, transparent 75%, #005521 75%, #a9ccff 100%);
  border-radius: 20rem;
  animation: spinning 1.3s linear infinite; }
  .loading-modal__spinner--small ::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -50%;
    margin-right: -50%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: black; }

.loading-modal__spinner--medium {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  margin-top: -11rem;
  margin-left: -11rem;
  width: 22rem;
  height: 22rem;
  background-image: radial-gradient(black 60%, transparent 60%), conic-gradient(from 90deg, transparent, transparent 25%, #e1b4ff 25%, #14a14a 50%, transparent 50%, transparent 75%, #14a14a 75%, #a9ccff 100%);
  border-radius: 20rem;
  animation: spinning 1.3s linear reverse infinite; }
  .loading-modal__spinner--medium ::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -50%;
    margin-right: -50%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: black; }

.loading-modal__spinner--large {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  margin-top: -15rem;
  margin-left: -15rem;
  width: 30rem;
  height: 30rem;
  background-image: radial-gradient(black 60%, transparent 60%), conic-gradient(from 180deg, transparent, transparent 25%, #e1b4ff 25%, #49ff8f 50%, transparent 50%, transparent 75%, #49ff8f 75%, #a9ccff 100%);
  border-radius: 20rem;
  animation: spinning 1.3s linear infinite; }
  .loading-modal__spinner--large ::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -50%;
    margin-right: -50%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: black; }

.custom-select {
  position: relative;
  width: 20rem;
  height: 4.5rem;
  border-radius: .8rem;
  background: white;
  display: flex;
  cursor: pointer; }
  .custom-select__actual-select {
    display: none; }
  .custom-select__selected {
    padding: 1rem;
    flex: 1;
    font-size: 1.7rem; }
    .custom-select__selected::after {
      content: '';
      width: 3.5rem;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #3c78e7;
      -webkit-mask: url(../img/pilot-svg/chevron-small-down.svg) 50% 50% no-repeat;
      mask: url(../img/pilot-svg/chevron-small-down.svg) 50% 50% no-repeat; }
    .custom-select__selected.custom-select__selected--down::after {
      -webkit-mask: url(../img/pilot-svg/chevron-small-up.svg) 50% 50% no-repeat;
      mask: url(../img/pilot-svg/chevron-small-up.svg) 50% 50% no-repeat; }
  .custom-select__items {
    position: absolute;
    max-height: 30rem;
    width: 100%;
    border-radius: .6rem;
    bottom: -10%;
    z-index: 100;
    transform: translateY(101%);
    transition: all .15s ease-in;
    overflow-y: scroll; }
    .custom-select__items.select-items-collapsed {
      height: 0; }
    .custom-select__items::-webkit-scrollbar {
      display: none; }
  .custom-select__item {
    font-size: 1.6rem;
    padding: 1rem;
    background-color: #c7c7c7;
    transition: all .15s linear; }
    .custom-select__item:hover {
      background: white; }
    .custom-select__item:not(:last-child) {
      border-bottom: 1px solid #707070; }
