*,
        *::after, 
        *::before {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }
        html {
            font-size: 62.5%;
            box-sizing: border-box;
        }
        body {
             height:100vh;
             overflow: hidden;
        }

        ul {
            list-style-type: none;
        }

        a:link {
            text-decoration: none;
            color: inherit;
        }