.loading-modal {
    
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    transition: all .1s linear;

    &.disabled {
        display: none;
    }
}

.outer-container {
    width: 100%;
    height: 100vh;
    position: relative;
    // overflow: hidden;
    background-color: rgb(65, 65, 65);
}

.inner-container {
    width: 100%;
    height: 200vh;
    position: absolute;    
    background-image: linear-gradient(to bottom right, rgb(233, 47, 56), rgb(119, 107, 161));
    padding: 4.5rem 10rem 10rem 20rem;
    top: 0;
    transform-origin: top left;
    transition: all .25s linear;

    &__resume-session {
        position: absolute;
        top: 6rem;
        right: 6rem;
        visibility: hidden;
        opacity: 0;
        transition: all .15s linear;
        cursor: pointer;
        // z-index: 1000;
        // mask: url(../img/pilot-svg/reply.svg) 50% 50%

        &.plain-visible {
            visibility: visible;
            opacity: 1;
        }
        
    }

    &__resume-session-icon {
        width: 6rem;
        height: 6rem;
        // z-index: 1000;
        // mask: url(../img/pilot-svg/reply.svg) 50% 50%
    }
}

.content {
    height: 80vh;
}

.content-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.section {

    position: absolute;
    width: 100%;
    height: 100%;

    &.section-displayed {

        opacity: 1;
        visibility: visible;
        transition: opacity .15s .15s linear, visibility .15s .15s linear;
    }
    
    &.section-undisplayed {
        opacity: 0;
        visibility: hidden;
        transition: opacity .15s linear, visibility .15s linear;
    }
}

.welcome {
    // position: relative;
    // perspective: 1000px;
    // padding-left: 10rem;
    transition: all .15s linear;
    // width: 100%;

    &.welcome--fadeout {
        opacity: 0;
        visibility: hidden;
        transform: scale(.1);

    }

    &__form-container {
        width: 90%;
        display:  flex;
        justify-content: flex-end;
        
    }

    &__button-container {
        flex: 0 0 45%;
        align-self: center;
        // width: fit-content;
        
    }
}

.gameplay {
    // position: absolute;
    // background:red;
    // height: 100%;
    // width: 100%;
    padding: 3rem;
    padding-left: 0;
    // padding-bottom: ;
    display: flex;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
    // visibility: hidden;
    // transform: scale(.1);
    // opacity: 0;
    // grid-template-rows: 5rem 1fr 5rem;

    // &.gameplay--appear-after-preferences-setup {
    //     visibility: visible;
    //     transform: scale(1);
    //     opacity: 1;
    // }

    &__question {
        // padding: 1rem;
        font-size: 3rem;
        flex: 0 0 25%;
        color: rgba(255, 255, 255, .35);
    }

    &__question-num {
         border-right: 2px solid rgba(255, 255, 255, .5);
         padding-right: 2.5rem;
         margin-right: 1.5rem;
    }

    &__answers {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__radio-group {
        display: flex;
        align-items: center;
        padding: 1rem;
        margin-bottom: 1.5rem;
    }

    &__answer-radio {
        display: none;
    }

    &__answer-radio:checked + &__answer-label > &__answer-pseudo-radio {
        // background-color: green;
        
    }

    &__answer-radio:checked + &__answer-label > &__answer-pseudo-radio::after {
        visibility: visible;
        // background-color: pink;
        width: 100%;
        height: 100%;
        top: 50%;
        right: 0;
        margin-top: -50%;
        // margin-left: -50%;
        border-radius: 3px;
        // transform: scale(30);
        // opacity: .3;
    }

    &__answer-label {
        position: relative;
        cursor: pointer;
        font-size: 2.2rem;
        padding-left: 4rem;
    }

    &__answer-pseudo-radio {
        position: absolute;
        box-sizing: content-box;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: inline-block;
        width: 2.1rem;
        height: 2.1rem;
        background-image: linear-gradient( to bottom, silver, rgb(109, 109, 109));
        // box-shadow:inset 0 2px 5px -1px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        border-radius: 7px;
        border: 2px solid rgb(73, 67, 67);
        transition: all .15s linear;

        &::after {
            content: '';
            visibility: hidden;
            position: absolute;
            width: 0;
            height: 0;
            background: rgba(255, 255, 255, .45);
            transition: all .2s linear;
            border-radius: 10px;
            // opacity: 1;
            top: 50%;
            left: 0;
            // margin-top: -5%;
            // margin-left: -5%;
        }
    }

    &__control {
        width: 100%;
        flex: 0 0 12%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        border-radius: 4px;
        box-shadow: 0 7px 15px -2px rgba(0, 0, 0, .5);
        background-image: linear-gradient( rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.2));
        padding: 1rem;
        // box-sizing: content-box;
        // padding: 4rem;

    }

    &__prev-question,
    &__next-question {
        flex: 0 0 5%;
        height: 100%;
        border: none;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        transition: all .15s linear;
        background-color: rgba(0, 0, 0, 0.45);
        // background-image: linear-gradient(to left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5));

        &.gameplay__prev-next-question--disabled {
            visibility: hidden;
            opacity: 0;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.75);

        }
    }

    &__prev-question, &__go-to-question-container    {
        margin-right: 3rem;
    }
        
    &__prev-question {
        
        margin-left: 7rem;
        -webkit-mask: url(../img/pilot-svg/arrow-bold-left.svg) 50% 50% no-repeat;
        mask: url(../img/pilot-svg/arrow-bold-left.svg) 50% 50% no-repeat;
        
    }

    &__go-to-question {
        
        &-container {

            display: flex;
            align-items: center;
            // line-height: 100%;
            border-radius: 5px;
            
            & > *:not(:last-child) {
                margin-right: 2rem;
            }
        }

        &-label {
            font-size: 2rem;
            color: rgba(0, 0, 0, 0.6);
        }

        &-input{
            border: none;
            outline: none;
            height: 3rem;
            width: 3rem;
            padding-left: 7px;
            // box-sizing: content-box;
            transition: all .15s linear;
            border-radius: 3px;
            box-shadow: none;

            &:hover {
                color: rgba(0, 0, 0, 0.75);
            }

            &:active,
            &:focus {
                // border: 2px solid rgba(0, 0, 0, 0.404);
                box-shadow: inset 0 1px 6px  rgba(0, 0, 0, 0.616);
            }
        }

        &-button {
            border: none;
            height: 4rem;
            width: 4.5rem;
            background:none;
            color: rgba(0, 0, 0, 0.6);
            font-size: 2rem;
            text-align: center;
            border-radius: 50%;
            transition: all .15s linear;
            // box-shadow: inset 0 -3px 4px black;
            // padding-left: 1rem;
            cursor: pointer;
            // border-radius: 50%;
            // -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            // clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            // transition: clip-path .2s .1s linear;

            &:focus,
            &:active {
                outline: none;
                box-shadow: 0 4px 3px rgba(0, 0, 0, 0.363), inset 0 4px 4px rgba(0, 0, 0, 0.39);

                // clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
            }
        }
    }

    &__next-question {
        
        -webkit-mask: url(../img/pilot-svg/arrow-bold-right.svg) 50% 50% no-repeat;
        mask: url(../img/pilot-svg/arrow-bold-right.svg) 50% 50% no-repeat;
        margin-right: auto;
    }

    &__im-done {
        position: relative;
        padding: 1rem 2rem;
        border: none;
        overflow: hidden;
        border-radius: 40px;
        outline: none;
        box-sizing: content-box;
        background: none;
        width: 5rem;
        transition: all .15s linear;
        cursor: pointer;

        // &:hover {
        //     width: 10rem;
        // }

        &::before {
            content: 'Answer all questions first';
            position: absolute;
            width: 10rem;
            border-radius: 4px;
            font-size: 1.5rem;
            color: white;
            padding: 5px;
            background: rgba(0, 0, 0, 0.514);
            top: -110%;
            left: 50%;
            transition: all .15s linear;
            transform: translate(-50%);
            visibility: hidden;
            opacity: 0;
        }

        &.gameplay_im-done--showing-error::before {
            visibility: visible;
            opacity: 1;
        }

        &--foshizle {
            margin-right: -5rem;
        }

        &:hover > &--foshizle {
            margin-right: 0;
        }

        &:hover {
            width:11rem;
        }
    }
}

.record-history {

}