@mixin menu-toggle-stripe($vertical-position) {
    
    position: absolute;
    display: block;
    height: .3rem;
    width: 35%;
    left: 23%;
    border-radius: 10px;
    background: rgb(94, 94, 94);
    transition: all .15s ease-in;

    @if $vertical-position == top {
        top: 23%;
        // transform: translate(-50%);
    }
    @else if $vertical-position == middle {
        top: 36%;
        // transform: translate(-50%, -50%);
    }
    @else {
        top: 49%;
        // transform: translate(-50%);
    }
}
%welcome-typography {
    font-family: 'Bitter', serif;
}

// %welcome-typography {
//     font-family: 'Bitter', serif;
// }

// %rotated-setup-form-element--normal {
    

//     transform: scale(.75) rotateX(10deg) rotateY(5deg);
// }

// %rotated-setup-form-element--hovered {
    
//     z-index:300;
//     transition: all .15s ease-in;
//     transform: scale(.9) rotateX(8deg) rotateY(5deg);
// }

@mixin loading-modal($radius, $color, $factor) {

        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        margin-top: -$radius * 1rem;
        margin-left: -$radius * 1rem;
        width: 2rem * $radius;
        height: 2rem * $radius;
        background-image:
        
        radial-gradient( black 60%, transparent 60%),
                            conic-gradient(from $factor * 90deg, transparent, transparent 25%,
                                      rgb(177, 83, 119) 25%, $color 50%,
                                        transparent 50%, transparent 75%,
                                        $color 75%, rgb(245, 178, 90) 100%
                                        );
        border-radius: 20rem;
        @if $factor % 2 == 0 {
            animation: spinning 1.3s linear infinite;
        } @else {
            animation: spinning 1.3s linear reverse infinite;
        }

        ::after {
            content:'';
            position: absolute;
            top:0;
            left: 0;
            margin-top: -50%;
            margin-right: -50%;
            width: 90%;
            height: 90%;
            border-radius: 100%;
            background: black;

        }

        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     height: 50%;
        //     transform: translate(-50%, -50%);
        //     width: 9rem;
        //     height: 9rem;
        //     bor
        //     background: rgba(0, 0, 0, .8);
        // }
    
}