@import url('https://fonts.googleapis.com/css?family=Poppins|Bitter|Raleway|PT+Sans+Narrow|Zhi+Mang+Xing&display=swap');



@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Baloo+Bhai|Fascinate+Inline|Modak|Righteous&display=swap');




.primary-title {

    @extend %welcome-typography;
    font-size: 7rem;
    word-spacing: 1.5rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 2px 1px 1px rgb(85, 81, 79);
}

.welcome__secondary-title {

    @extend %welcome-typography;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 7rem;
    font-style: italic;
    color: rgba(0, 0, 0, .4);
}

.welcome__preferences-paragraph {
    
    @extend %welcome-typography;
    font-size: 2rem;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.6);
    // margin-bottom: 6rem;
}

.record-history__heading {
    
}

.record-history__list {
    
}

.record-history__item {
    
}