$setup-form-z-indices: (
    "1": 400,
    "2": 300,
    "3": 200,
    "4": 100
);



$smallColor: rgb(0, 85, 33);
$mediumColor: rgb(20, 161, 74);
$largeColor: rgb(73, 255, 143);
$smallRadius: 7;
$mediumRadius: 11;
$largeRadius: 15;
$smallFactor:0;
$mediumFactor:1;
$largeFactor:2;